<h1>Inbox</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Message</th>

  </tr>
  <% @messages.each do |message| %>
  <tr>
    <td><%= message.name %></td>
    <td><%= message.email %></td>
    <td><%= message.message %></td>
    <td><%= link_to 'Delete', 
                 contact_path(message.id), 
                             method: :delete, 
                             data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>