<div class="container">
  <% if flash[:notice] %>
  <div class="alert alert-success" align="center">
    <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
  </div>
  <% end %>

  <h1 align="center">Thank you for your message!</h1>
  <p align="center">If your message requires a follow up we will do our best to respond within 24 hours. </p>
</div>