<div class="about-wrapper">

  <div class="about-header">
    <p>Bears Boiled Peanuts brings a taste of the south up north. We're a family business who strives to bring the best
      quality and delicious flavors to Seattle.
    </p>
    <!-- <%= image_tag "peanuts.jpg" %> -->
  </div>


</div>