.message-container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
}
header{
  align-items: center;
  }
  
  p {
    font-size: 1.5em;
    margin:30px;
    text-align: justify;
    color: black;
  }
  